.monitorbutton,
#server_icon
{
	width: 150px;
	border-radius: 4px;
	margin: 2px;
	font-size: 12px;
	float: left;
}
.expand-child #server_icon {
	width: auto;
}
.monitorbutton
{
	height: 90px;
	text-align: center;
}
.monitorbutton span {
	line-height: 14px;
}
.monitorbutton.size {
	font-size: 12px !important;
}
.monitorbutton:hover,
#server_icon:hover
{
	cursor: pointer !important;
}
.monitorbutton img {
	display: none;
}
#server_icon {
	line-height: 25px;
        padding: 0px 5px;
}
#server_icon:first-of-type {
        margin-left: 10px;
}
#server_icon div {
	display: inline-block;
}
#server_icon input {
	vertical-align: middle;
	margin-top: 0px;
	margin-right: 2px;
}






.srvctrl td {
	padding: 5px 0px;
}
.srvctrl a:before {
	display: block;
	font-size: 64px;
	margin-bottom: -10px;
	margin-top: -10px;
}
.srvctrl b {
	font-weight: normal !important;
}
tr.maintr td:last-child {
        min-width: 320px;
}
#servermonitor .monitor-1 {
        float: left;
        width: calc(100% - 260px);
        margin-bottom: 20px;
}
#servermonitor .monitor-1 > div {
        float: left;
        margin-right: 10px;
}
#servermonitor .monitor-2 {
        float: right;
}
#servermonitor .monitor-2 .srvctrl {
        width: auto;
        border-radius: 5px;
}
#servermonitor .monitor-2 .srvctrl td:first-of-type {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
}
#servermonitor .monitor-2 .srvctrl td:last-of-type {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
}
#servermonitor .monitor-3 {
        clear: both;
}
#servermonitor .monitor-3 table {
        width: 100%;
}
#servermonitor .monitor-3 > div {
        padding: 10px 0px;
        background-color: rgba(40, 42, 49, 0.3) !important;
        border: 1px solid rgba(40, 42, 49, 1) !important;
}
.mapicon {
        border-radius: 4px;
        margin-bottom: 5px;
	padding: 0px;
	border: 1px solid #22252f;
}
.owner .form-control {
        width: auto !important;
}

#servermonitor .monitor-2 .srvctrl img,
#servermonitor .monitor-2 .srvctrl br {
        display: none;
}
#servermonitor .monitor-2 .srvctrl a {
        display: inline-block;
        color: #fff;
}
#servermonitor .monitor-2 .srvctrl td {
        width: 100px;
}
#servermonitor .monitor-2 .srvctrl td:first-of-type a:before {
        content: "\f144";
}
#servermonitor .monitor-2 .srvctrl td:last-of-type a:before {
        content: "\f28d";
}

#servermonitor .monitor-2 .srvctrl td:first-of-type a:hover:before {
        color: #5cb85c;
}
#servermonitor .monitor-2 .srvctrl td:last-of-type a:hover:before {
        color: #d9534f;
}

.ts3_viewer b {
	font-weight: normal;
}
