.table td, .table th {
        border: none;
}

.main .flex-container {
	display: flex;
	flex-wrap: wrap;
}

.administration-buttons {
        display: inline-block;
        width: 160px;
        height: 100px;
        background-color: #434857;
        color: #fff;
        border-radius: 5px;
	margin: 5px;
	text-align: center;
}

.administration-buttons:hover {
	background-color: #1997c6;
	text-decoration: none !important;
}

.administration-buttons img,
.administration-buttons br
{
	display: none;
}

.administration-buttons:before {
        font-family: 'FontAwesome';
        display: block;
        margin-top: 5px;
        font-size: 40px;
}

