.clearfix:after,
.clearfix:before,
.news-row:after,
.news-row:before {
    content: " ";
    display: table;
    clear: both;
}
.news-row {
    width: 100%
}
.eight-tenth {
    width: 83%;
}
.one-quarter {
    width: 25%;
    margin-left:10px;
}
.one-sixth {
    width: 16%;
}
.news-form-control-mce {
    min-height: 350px;
}


.ajax-upload-dragdrop {
	border-width: 2px;
	margin-bottom: 20px;
	color: #ccc;
	border-style: dashed;
	border-color: #ccc;
	line-height: 100px;
	height: 120px;
	text-align: center;
	position: relative;
}
.ajax-upload-dragdrop > span {
	position: absolute;
	top: 15px;
}


.adm_btn {
    display: inline-block;
    width: 220px;
    height: 60px;
    line-height: 60px;
    text-decoration: none !important;
    background: #fff;
    border-radius: 4px;
    margin: 5px;
    border-bottom: 6px solid;
    font-family: arial;
}
.adm_btn > img {
    display: inline-block;
    float: left;
    height: 24px;
    margin: 17px 15px 0px 10px;
}
.adm_btn.add {
    border-color: #27c24c;
}
.adm_btn.add:hover {
    background-color: #27c24c;
    color: #000 !important;
}
.adm_btn.opt {
    border-color: #ff902b;
}
.adm_btn.opt:hover {
    background-color: #ff902b;
    color: #000 !important;
}
.adm_btn.perm {
    border-color: #f05050;
}
.adm_btn.perm:hover {
    background-color: #f05050;
    color: #000 !important;
}
